# Database
DB_HOST = "localhost"
DB_NAME = "Axiomancer"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_PORT = "5433"

# URLs
FRONTEND_BASE_URL = "http://localhost:4200"
BACKEND_BASE_URL = "http://localhost:4100"

# JWT Configuration for rest API
JWT_SECRET = "your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN = "60m"

# JWT Configuration for Login
JWT_REFRESH_SECRET = "your-super-secret-refresh-key-change-in-production"
JWT_REFRESH_EXPIRES_IN = "30d"

# API Keys
PIXABAY_API_KEY = "your-pixabay-api-key-here"
X_API_KEY = "1234"
SERVER_OPENROUTER_API_KEY = "ur open router api key normaly use 0$ limit api this one just for get models name and use free model"
