DB_HOST = "localhost"
DB_NAME = "Axiomancer"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_PORT = "5433"

FRONTEND_BASE_URL = "http://localhost:4200"
BACKEND_BASE_URL = "http://localhost:4100"

# JWT Configuration
JWT_SECRET = "your-super-secret-jwt-key-change-in-production"
JWT_REFRESH_SECRET = "your-super-secret-refresh-key-change-in-production"
JWT_EXPIRES_IN = "1h"
JWT_REFRESH_EXPIRES_IN = "30d"

X_API_KEY = "['1234']"
X_API_KEY_STRING = "1234"
JWT_EXPIRE_MINUTES = 60
